@import "tailwindcss";

@theme {
  --color-body-bg: #262626;
  --color-body-text: #D9D9D9;
  --color-header-text: #F9F4DA;
  --color-header-paragraph: #8E8E8E;
  --color-green-bg: #10A95B;
  --color-status-text: #F9F4DA;
}

@layer base {
  body {
    @apply bg-body-bg flex justify-center h-screen text-body-text p-5;
  }
}